---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="ALO Hackclub">
	<main>
		<Card href="#" title="ALO Hackclub" body="asdasd"></Card>
	</main>
</Layout>
