---
import { Icon } from "astro-icon/components";
---
<script>
let menuOpen = false;
    const button = document.getElementById("menu-button");
    button?.addEventListener("click", toggleMenu);

    function toggleMenu() {
        menuOpen = !menuOpen;
        if (menuOpen) {
            document.getElementById("menu")?.classList.add("open");
        } else {
            document.getElementById("menu")?.classList.remove("open");
        }
    }
</script>
<button id="menu-button"><Icon name="menu"></button>
