---
import { Icon } from "astro-icon/components";
---

<script>
    const button = document.getElementById('theme-toggle');
    button?.addEventListener('click', themeSwitch);
    function themeSwitch() {
        const currentTheme = document.body.getAttribute('data-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        document.body.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
        document.cookie = `theme=${newTheme}; path=/`;
    }
    // On page load, set the theme from localStorage
    document.addEventListener('DOMContentLoaded', (event) => {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.body.setAttribute('data-theme', savedTheme);
        }
    });
</script>


<button id="theme-toggle"><Icon name="theme_but" class="small-circular"></button>