---
import { Icon } from "astro-icon/components";
---

<script>
    const button = document.getElementById('theme-toggle');
    button?.addEventListener('click', themeSwith);
    function themeSwith() {
        const currentTheme = document.body.getAttribute('data-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        document.body.setAttribute('data-theme', newTheme);
    }
</script>


<button id="theme-toggle" style="position: absolute; right: 10px;"><Icon name="theme_but" class="theme-icon small-circular" style="color: black"></button>