---

import { Icon } from 'astro-icon/components';
const { title } = Astro.props.frontmatter;
import ThemeSwitch from '../components/ThemeSwitch.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="url" content={import.meta.env.URL} />
        <meta name="description" content="ALOPB HackClub" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            
        <button class="back-button" onclick="location.href='/docs'">
            <Icon name="back-arrow" style="color: var(--text); width:20px;height:20px;" />
        </button>
            <div style="padding: 5px;">
                <ThemeSwitch />
            </div>
        </div>
        <slot />
    </body>
</html>
<style is:global>
    	:root {
  --darkest: #0b0b0e;
  --darker: #121217;
  --dark: #17171d;
  --darkless: #252429;
  --black: #1f2d3d;
  --steel: #273444;
  --slate: #3c4858;
  --muted: #8492a6;
  --smoke: #e0e6ed;
  --snow: #f9fafc;
  --white: #ffffff;
  --red: #ec3750;
  --orange: #ff8c37;
  --yellow: #f1c40f;
  --green: #33d6a6;
  --cyan: #5bc0de;
  --blue: #338eda;
  --pink: #e260d1;
  --text: var(--black);
  --background: var(--smoke);
  --elevated: var(--white);
  --sheet: var(--snow);
  --sunken: var(--smoke);
  --border: var(--muted);
  --primary: var(--pink);
  --secondary: #8492a6;
  --accent: #5bc0de;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --instagram: #e1306c;
  --invert: invert(0);
  --header-color: var(--white);
  --accent: var(--pink);
  --accent-light: var(--white);
  --accent-gradient: linear-gradient(135deg, var(--accent), var(--accent-light));
  --menu-card-color: var(--white);
  --card-color: var(--white);
  --bar: var(--muted);
  --radii-circle: 99999px;
  --code-bg: var(--muted);
  --link: var(cyan);
  --link-visited: var(--accent);
        }
        [data-theme="dark"] {
  --text: var(--white);
  --header-color: var(--darkest);
  --background: var(--darker);
  --elevated: var(--dark);
  --sheet: var(--darkless);
  --sunken: var(--steel);
  --border: var(--slate);
  --bar: var(--primary);
  --primary: #ec3750;
  --secondary: #8492a6;
  --accent: #5bc0de;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --instagram: #e1306c;
  --invert: invert(1);
  --accent: var(--red);
  --accent-light: var(--slate);
  --accent-gradient: linear-gradient(135deg, var(--accent), var(--accent-light));
  --menu-card-color: var(--darkest);
  --card-color: var(--dark);
  --code-bg: var(--darkest);
  --link: var(--accent);
  --link-visited: var(purple);

}
    html {
        font-family: system-ui, sans-serif;
    }
    body {
        color: var(--text);
        background-color: var(--background);
        max-width: 60em;
        margin: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1em;
    }

    h1 {
        padding: 10px;
    }

    h2 {
        padding: 8px;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
    }

    a {
        color: var(--link);
    }

    a:visited {
        color: var(--link-visited););
    }

    img {
        height: min-content;
        max-width: 100%;
        object-fit: scale-down;
        border-radius: 8px;
    }
    
    pre {
        overflow: auto;
        font-family: 'Monaco', monospace;
        padding: 1em 1em;
        border-radius: 8px;
    }

    code {
        font-family: 'Monaco', monospace;
        font-size: $base-font-size;
        line-height: 100%;
        background-color: var(--code-bg);
        padding: 0.3em 0.5em;
        overflow-wrap: break-word;
        border-radius: 5px;
    }

    pre code {
        border: none;
        background: none;
        font-size: $base-font-size * 0.875;
        letter-spacing: normal;
        word-break: break-all;
    }

    blockquote {
        background-color: var(--code-bg);;
        border-radius: 8px;
        padding: 8px;
    }

    button {
  cursor: pointer;
  border-radius: var(--radii-circle);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-card);
  letter-spacing: var(--letter-spacing-headline);
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  box-sizing: border-box;
  margin: 5px;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  line-height: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(---background);
  background-color: var(--primary);
  border: 0;
  font-size: var(--font-2);
  transition: background-color 0.3s;
}

button:focus,
button:hover {
  box-shadow: var(--shadow-elevated);
  transform: scale(1.0625);
}

button.lg {
  font-size: var(--font-3)!important;
  line-height: var(--line-height-title);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

button.outline {
  background: none;
  color: var(--primary);
  border: 2px solid currentcolor;
}

button.cta {
  font-size: var(--font-2);
  background-image: radial-gradient(
    ellipse farthest-corner at top left,
    var(--orange),
    var(--red)
  );
}
</style>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            if (block) {
                block.querySelectorAll('span').forEach((span) => {
                    if (span.innerText === '') {
                        span.remove();
                    }
                });
            }
        });
    });
</script>